<div style="text-align: center;">
    <h1>My to-do list</h1>
</div>

<div class="container">
    <div cdkDropList (cdkDropListDropped)="drop($event)" class="list-container">
        @for (todo of todos; track todo.id) {
            <div>
                <app-todo-item
                    [todoData]="todo" 
                    (onDelete)="deleteTodo($event)"
                    (onToggleDone)="toggleDone($event)"
                    (onDataChanged)="updateTodo($event)"
            ></app-todo-item>
            </div>
        }
    </div>   
    <div class="new-todo" (click)="addTodo()">
        <img class="add" src="../../assets/images/add.png" alt="">
    </div> 
    <div class="footer"></div>  
</div>